<div id="drawer">
  <ul class="color_white fontBold">
    <li><%= link_to "ホーム", root_path %></li>
    <li><%= link_to "このサイトについて", about_path %></li>
    <li><%= link_to "投稿一覧", '#' %></li>

    <% if logged_in? %>

      <li><%= link_to "マイページ", current_user %></li>
      <li><%= link_to "お気に入り", '#' %></li>
      <li><%= link_to "登録情報の変更", '#' %></li>
      <li><%= link_to "ログアウト", logout_path, method: :delete %></li>

    <% else %>

      <li><%= link_to "ログイン", login_path %></li>
      <li><%= link_to "アカウント作成", signup_path %></li>

    <% end %>

  </ul>
</div>
