<div id="drawer">
  <ul class="color_white fontBold">
    <li><%= link_to "ホーム", '#' %></li>
    <li><%= link_to "このサイトについて", '#' %></li>
    <li><%= link_to "投稿一覧", '#' %></li>
    <li><%= link_to "お気に入り", '#' %></li>
    <li><%= link_to "登録情報の変更", '#' %></li>
  </ul>
</div>
