<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>

  <% #ヘッダー▼ %>
  <%= render 'layouts/header' %>
  <% #ヘッダー▲ %>

    <% #コンテンツ▼ %>
    <main>
      <article class="contents">
        <%= yield %>
      </article>
    </main>
    <% #コンテンツ▲ %>

    <% #フッター▼ %>
    <%= render 'layouts/footer' %>
    <% #フッター▲ %>

    <% #ドロワー▼ %>
    <%= render 'layouts/drawer' %>
    <% #ドロワー▲ %>

    <%= debug(params) if Rails.env.development? %>

  </body>
</html>
