<section class="main_area">
  <%= render 'layouts/flash' %>

  <% if !logged_in? %>

    <div class="not_loged_in">
      <div>
        <h2 class="ff_lilita color_white">Idea mixer</h2>
        <p>運命的な<br>アイデアとの出会い</p>
        <p>Idea mixerは<br>新しいアイデアを見つける<br>お手伝いをします。</p>
        <div class="btn_box color_white">
          <%= link_to "アカウント作成", signup_path %>
          <%= link_to "ログイン", login_path %>
        </div>
      </div>
    <div>

  <% else %>

    <section class="input_theme_area">
      <h2>Mixer</h2>
      <%= form_with(url: new_post_path, scope: :theme, local: true, method: "GET", class: "basic_form") do |f| %>

        <%= f.label :theme1, "テーマ１" %>
        <%= f.text_field :theme1 %>

        <span></span>

        <div>？？？</div>

        <%= f.submit "Mix" %>
      <% end %>

    </section>

  <% end %>

</section>
